# Config for Home Assistant presence detection daemon.

# For an understanding of what endpoints and data to set here
# read the Home Assistant REST API documentation https://developers.home-assistant.io/docs/api/rest/

# This is the url to the home assistant api services endpoint. 
home_assistant_url="http://homeassistant.local/api/"

# Replace 'TOKEN' with a long term token that you get from your
# Home Assistant Profile -> Long-Lived Access Tokens.
home_assistant_token="Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJiOTAyZDZjYjlmZTY0MjU0YmVmN2YzMmJmMGFiMDBhYSIsImlhdCI6MTY4MDU3NjE2MSwiZXhwIjoxOTk1OTM2MTYxfQ.AOdaAj42cpgLOJY5z_CqnDRew32yILQOptZVzHhK6Is"

# This is the endpoint to call when activity is detected.
home_assistant_active_path="events/at_keyboard"

# This is the endpoint to call when inactivity is detected.
home_assistant_inactive_path="events/away_from_keyboard"

# This is the JSON payload to send to Home Assistant when activity is detected.
home_assistant_active_json_data="{}"

# This is the JSON payload to send to Home Assistant when inactivity is detected.
home_assistant_inactive_json_data="{}"

# The number of seconds the scan for mouse or keyboard activity 
# runs for.
scan_time=5

# The time to wait to do another scan when the state is 'active' in seconds.
active_wait_time=5

# The time time wait to do another scan when the state is 'inactive' in seconds.
# You probably want this to be shorter than the active_wait_time so that wakeup is fast.
inactive_wait_time=5
